# EditorConfig is awesome: https://editorconfig.org
# Keeps coding styles consistent across different editors and IDEs.
# PhotonBlog follows the V language style guide (tabs, UTF-8, LF).

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{v,vsh,vv}]
indent_style = tab
indent_size = 4
max_line_length = 100

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[*.{sh,bash}]
indent_style = tab
indent_size = 4

[Dockerfile]
indent_style = tab
indent_size = 4

[*.mod]
indent_style = tab
indent_size = 4
